.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
 
}   

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {                       /*This is when item is clicked */
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.btn--white {
    background-color: #fff;
    color:#777;
}

.btn--green {
    background-color: $color-primary;
    color: white;
}


.btn::after {           /*creates a temporary child elemetn */
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;  /*puts the this elemtn behind the other.*/
    transition: all .4s;
}

.btn--white::after {
    background-color: #fff;
}


.btn:hover::after {
    transform: scaleX(1.2) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInBottom  2s ease-out .75s ;
    animation-fill-mode: backwards;
    
}


.btn-text {
    &:link,
    &:visited{
        font-size: 1.6rem;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: white;
        box-shadow: 0 1rem 2rem rgba(black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba(black, .15);
        transform: translateY(0);
    }

}